.main{
    align-items: center;
    background-color: #36393F; 

    
    min-width: 80vw;
    border-radius: 1vw;
    padding: 2vw;
    min-height: 70vh;
    overflow-y: hidden;

    justify-content: center;
}

