.main{
    background-color: rgb(31,35,36);

}
.area{
    margin: 1vh;
    width: 32vw;
    min-height: 22vh;
    background-color: rgb(31,35,36);
    border-radius: 1vh;
    padding: 2vw;
}

.areaRight{
    align-self: end;
}

.areaLeft{
    align-self: start;
}

.thumbnail{
    border-radius: 1vw;
    justify-self: center;
    position: absolute;
    object-fit: contain;

}
.thumbnailBacker{
    border-radius: 1vw;
    position: absolute;
    background-color: #2E3235;
    height: 378px;
    width: 672px;
}

.projectHeader{
    width: 100%;
    font-size: 1.5em;
}
.projectDescription{
    width: 100%;
    font-size: 1em;
}
.projectLink{
    width: 100%;
    font-style: oblique;
    font-weight: bold;
    color: #00AFF4;
}